body{
  margin: 0;
}

.upload-label{
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid pink;
  background-size: 260px;
  background-position: center;

}
/*去掉label里面的字*/
input{
  width: 0;
  height: 0;
}
/*去掉选择文件的框*/
input{
  border: 0;
  outline: 0;
}
